version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      - POSTGRES_PASSWORD=Modules!123
      - POSTGRES_DB=delphi
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - shared-net
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=elyas.gh1985@gmail.com
      - PGADMIN_DEFAULT_PASSWORD=Modules!123
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    ports:
      - 8082:80
    networks:
      - shared-net
volumes:
  postgres_data:
    driver: local
  pgadmin_data:
    driver: local
networks:
  shared-net:
    external: true 
