services:
  minio:
    image: quay.io/minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9090:9090"
    environment:
      MINIO_ROOT_USER: t0Ocqct2c52v0NjIWFmC
      MINIO_ROOT_PASSWORD: D60M2JW4YmxSm4hmmL3kjjdsqlA6UF4SsNoQhYhm
    command: server /data --console-address ":9090"
    volumes:
      - minio_data:/data
    networks:
      - shared-net

volumes:
  minio_data:
    driver: local
networks:
  shared-net:
    external: true
